<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
  </head>

  <body>
    <nav class="navbar fixed-top navbar-expand-md navbar-dark bg-dark">
      <div class="container-fluid">
        <span class="navbar-brand mb-0 h1">GameTracker</span>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarCollapse"
          aria-controls="navbarCollapse"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
          <ul class="navbar-nav me-auto mb-2 mb-md-0">
            <li class="nav-item">
              <a
                class="nav-link active"
                aria-current="page"
                (click)="getLibraryGames()"
                >Library</a
              >
            </li>
            <li class="nav-item">
              <a
                class="nav-link active"
                aria-current="page"
                (click)="getWishlistGames()"
                >Wishlist</a
              >
            </li>
            <li class="nav-item">
              <a class="nav-link" (click)="onOpenModal(null, 'add')"
                >Add Game</a
              >
            </li>
          </ul>
          <ul class="navbar-nav mb-2 mb-md-0">
            <li class="nav-item dropdown">
              <a
                class="nav-link dropdown-toggle"
                id="navbarDropdown"
                role="button"
                data-bs-toggle="dropdown"
                aria-expanded="false"
              >
                Sort by
              </a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                <li>
                  <a class="dropdown-item" (click)="sortList('title')">Title</a>
                </li>
                <li>
                  <a class="dropdown-item" (click)="sortList('id')"
                    >Date added</a
                  >
                </li>
              </ul>
            </li>
          </ul>
          <form class="d-flex">
            <input
              class="form-control me-2"
              type="text"
              placeholder="Search"
              aria-describedby="search-text"
              [(ngModel)]="searchText"
              name="searchText"
              id="search-text"
            />
          </form>
        </div>
      </div>
    </nav>

    <div class="container py-5" id="main-container">
      <div class="row row-cols-1 row-cols-lg-3 row-cols-md-2 g-5">
        <div
          *ngFor="
            let game of games | appFilter: searchText | appSort: sortOption
          "
          class="col"
        >
          <div class="card h-100" style="width: auto">
            <img
              src="../assets/img/check.svg"
              *ngIf="game?.completed === true"
              class="check"
              alt="..."
            />
            <img src="{{ game?.imageUrl }}" class="card-img-top" alt="..." />
            <div class="card-body">
              <h5 class="card-title">{{ game?.title }}</h5>
              <p class="card-text">
                {{ game?.description }}
              </p>
              <a (click)="onOpenModal(game, 'view')" class="btn btn-primary"
                >Details</a
              >
            </div>
          </div>
        </div>
        <!-- Notification for no games -->
        <div *ngIf="games?.length == 0" class="col-lg-12 col-md-12 col-xl-12">
          <div class="alert alert-info text-center" role="alert">
            <h4 class="alert-heading">NO GAMES!</h4>
            <p>No games were found.</p>
          </div>
        </div>
        <!-- Notification for no result -->
        <div
          *ngIf="
            (games | appFilter: searchText).length === 0 &&
            !(games?.length == 0)
          "
          class="col-lg-12 col-md-12 col-xl-12"
        >
          <div class="alert alert-info text-center" role="alert">
            <h4 class="alert-heading">NO RESULTS!</h4>
            <p>No results were found.</p>
          </div>
        </div>
      </div>
    </div>

    <!-- View Game Modal -->
    <div
      class="modal fade"
      id="viewGameModal"
      tabindex="-1"
      aria-labelledby="viewGameModalLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog modal-dialog-scrollable">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="viewGameModalLabel">
              {{ viewGame?.title }}
            </h5>
            <button
              type="button"
              class="btn-close"
              data-bs-dismiss="modal"
              aria-label="Close"
            ></button>
          </div>
          <div class="modal-body">
            <img
              src="{{ viewGame?.imageUrl }}"
              class="card-img-top"
              alt="..."
              style="height: auto; padding-bottom: 25px"
            />
            <h5>Description</h5>
            <p py-3>{{ viewGame?.description }}</p>
            <h5>Genre</h5>
            <p mb-3>{{ viewGame?.genre }}</p>
            <h5>Developer</h5>
            <p mb-3>{{ viewGame?.developer }}</p>
          </div>
          <div class="modal-footer">
            <button
              type="button"
              class="btn btn-secondary"
              data-bs-dismiss="modal"
            >
              Close
            </button>
            <button
              (click)="onOpenModal(viewGame, 'edit')"
              type="button"
              class="btn btn-success"
              data-bs-target="#updateGameModal"
              data-bs-toggle="modal"
              data-bs-dismiss="modal"
            >
              Edit
            </button>
            <button
              (click)="onOpenModal(viewGame, 'delete')"
              type="button"
              class="btn btn-danger"
              data-bs-target="#deleteGameModal"
              data-bs-toggle="modal"
              data-bs-dismiss="modal"
            >
              Delete
            </button>
          </div>
        </div>
      </div>
    </div>

    <!-- Add Game Modal -->
    <div
      class="modal fade"
      id="addGameModal"
      tabindex="-1"
      aria-labelledby="addGameModalLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog modal-dialog-scrollable" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="addGameModalLabel">Add Game</h5>
            <button
              type="button"
              class="btn-close"
              data-bs-dismiss="modal"
              aria-label="Close"
            ></button>
          </div>
          <div class="modal-body">
            <form #addForm="ngForm" (ngSubmit)="onAddGame(addForm)">
              <div class="form-group mb-3">
                <label for="title">Title</label>
                <input
                  type="text"
                  ngModel
                  name="title"
                  class="form-control"
                  id="title"
                  placeholder="Title"
                  required
                />
              </div>
              <div class="form-group mb-3">
                <label for="description">Description</label>
                <textarea
                  class="form-control"
                  ngModel
                  name="description"
                  maxlength="1000"
                  id="description"
                  rows="3"
                  placeholder="Description"
                  required
                ></textarea>
                <div id="descriptionHelp" class="form-text">
                  Limit - 1000 characters
                </div>
              </div>
              <div class="form-group mb-3">
                <label for="genre">Genre</label>
                <input
                  type="text"
                  ngModel
                  name="genre"
                  class="form-control"
                  id="genre"
                  placeholder="Genre"
                  required
                />
              </div>
              <div class="form-group mb-3">
                <label for="developer">Developer</label>
                <input
                  type="text"
                  ngModel
                  name="developer"
                  class="form-control"
                  id="developer"
                  placeholder="Developer"
                  required
                />
              </div>
              <div class="form-group mb-3">
                <label for="imageUrl">Image URL</label>
                <input
                  type="text"
                  ngModel
                  name="imageUrl"
                  class="form-control"
                  id="imageUrl"
                  placeholder="Image URL"
                  required
                />
              </div>
              <div class="form-check mb-3">
                <input
                  checked
                  type="radio"
                  ngModel
                  name="wanted"
                  value="false"
                  class="form-check-input"
                  id="wanted1"
                  required
                />
                <label class="form-check-label" for="wanted1">Library</label>
              </div>
              <div class="form-check mb-3">
                <input
                  type="radio"
                  ngModel
                  name="wanted"
                  value="true"
                  class="form-check-input"
                  id="wanted2"
                />
                <label class="form-check-label" for="wanted2">Wishlist</label>
              </div>
              <div class="form-check mb-3">
                <input
                  type="checkbox"
                  ngModel
                  name="completed"
                  value="true"
                  class="form-check-input"
                  id="completed"
                />
                <label class="form-check-label" for="completed"
                  >Completed</label
                >
              </div>
              <div class="modal-footer">
                <button
                  type="button"
                  id="add-game-form"
                  class="btn btn-secondary"
                  data-bs-dismiss="modal"
                >
                  Close
                </button>
                <button
                  [disabled]="addForm.invalid"
                  type="submit"
                  class="btn btn-primary"
                >
                  Save changes
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>

    <!-- Edit Game Modal -->
    <div
      class="modal fade"
      id="updateGameModal"
      tabindex="-1"
      aria-labelledby="updateGameModalLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog modal-dialog-scrollable" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="updateGamesModalLabel">
              Edit Game {{ editGame?.title }}
            </h5>
            <button
              type="button"
              class="btn-close"
              data-bs-dismiss="modal"
              aria-label="Close"
            ></button>
          </div>
          <div class="modal-body">
            <form #editForm="ngForm">
              <div class="form-group mb-3">
                <label for="title">Title</label>
                <input
                  type="text"
                  ngModel="{{ editGame?.title }}"
                  name="title"
                  class="form-control"
                  id="title"
                  aria-describedby="emailHelp"
                  placeholder="Title"
                />
              </div>
              <input
                type="hidden"
                ngModel="{{ editGame?.id }}"
                name="id"
                class="form-control"
                id="id"
                placeholder="ID"
              />
              <div class="form-group mb-3">
                <label for="description">Description</label>
                <textarea
                  class="form-control"
                  ngModel="{{ editGame?.description }}"
                  name="description"
                  maxlength="1000"
                  id="description"
                  rows="3"
                  placeholder="Description"
                ></textarea>
                <div id="descriptionHelp" class="form-text">
                  Limit - 1000 characters
                </div>
              </div>
              <div class="form-group mb-3">
                <label for="genre">Genre</label>
                <input
                  type="text"
                  ngModel="{{ editGame?.genre }}"
                  name="genre"
                  class="form-control"
                  id="genre"
                  placeholder="Genre"
                />
              </div>
              <div class="form-group mb-3">
                <label for="developer">Developer</label>
                <input
                  type="text"
                  ngModel="{{ editGame?.developer }}"
                  name="developer"
                  class="form-control"
                  id="developer"
                  name="developer"
                  placeholder="Developer"
                />
              </div>
              <div class="form-group mb-3">
                <label for="imageUrl">Image URL</label>
                <input
                  type="text"
                  ngModel="{{ editGame?.imageUrl }}"
                  name="imageUrl"
                  class="form-control"
                  id="imageUrl"
                  placeholder="Image URL"
                />
              </div>
              <div class="form-check mb-3">
                <input
                  checked
                  type="radio"
                  ngModel="{{ editGame?.wanted }}"
                  name="wanted"
                  value="false"
                  class="form-check-input"
                  id="wanted1"
                />
                <label class="form-check-label" for="wanted1">Library</label>
              </div>
              <div class="form-check mb-3">
                <input
                  type="radio"
                  ngModel="{{ editGame?.wanted }}"
                  name="wanted"
                  value="true"
                  class="form-check-input"
                  id="wanted2"
                />
                <label class="form-check-label" for="wanted2">Wishlist</label>
              </div>
              <div class="form-check mb-3">
                <input
                  type="checkbox"
                  ngModel="{{ editGame?.completed }}"
                  name="completed"
                  value="true"
                  class="form-check-input"
                  id="completed"
                />
                <label class="form-check-label" for="completed"
                  >Completed</label
                >
              </div>
              <div class="modal-footer">
                <button
                  type="button"
                  id=""
                  data-bs-dismiss="modal"
                  data-bs-target="#viewGameModal"
                  data-bs-toggle="modal"
                  class="btn btn-secondary"
                >
                  Back
                </button>
                <button
                  (click)="onUpdateGame(editForm.value)"
                  data-bs-dismiss="modal"
                  data-bs-target="#viewGameModal"
                  data-bs-toggle="modal"
                  class="btn btn-primary"
                >
                  Save changes
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>

    <!-- Delete Game Modal -->
    <div
      class="modal fade"
      id="deleteGameModal"
      tabindex="-1"
      role="dialog"
      aria-labelledby="deleteModalLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="deleteModalLabel">Delete Game</h5>
            <button
              type="button"
              class="btn-close"
              data-bs-dismiss="modal"
              aria-label="Close"
            ></button>
          </div>
          <div class="modal-body">
            <p>
              Are you sure you want to delete game
              {{ deleteGame?.title }}?
            </p>
            <div class="modal-footer">
              <button
                type="button"
                class="btn btn-secondary"
                data-bs-dismiss="modal"
              >
                No
              </button>
              <button
                (click)="onDeleteGame(deleteGame?.id)"
                class="btn btn-danger"
                data-bs-dismiss="modal"
              >
                Yes
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Page footer -->
    <footer class="footer mt-auto text-center py-3 bg-light">
      <div>
        <span class="text-muted">Copyright © GameTracker {{ year }}.</span>
      </div>
    </footer>
  </body>
</html>
